.chart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 325px;
  width: 650px;
  max-width: 1000px;
  margin: 0 auto;
}

.chart {
  flex: 0 0 auto;
  width: 70%;
  height: 100%;
}

.legend {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.legend-item {
  margin-bottom: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
}

.legend-text {
}
